<!DOCTYPE html>
<html>
    <head>
        <title>{{title}}</title>
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <div class='mainContent'>
            {{>header}}
            <p>This is the {{title}} page</p>
            <p>{{message}}</p>
        </div>
        {{>footer}}
    </body>
</html>